<header class="flex justify-between mb3">
  <div class="flex pt1 pl3 pointer" (click)="router.navigate(['/'])">
    <div class="di pt2 f2 fw4 pc">TV Me</div>
  </div>
  <div class="flex justify-end pr4">
    <mat-icon class="f2 pt2-5 pointer" color="primary" [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button *ngIf="!(userService.isLoggedIn$ | async)" mat-menu-item
        (click)="router.navigate(['user', 'login'])">Login/Register</button>
      <button *ngIf="(userService.isLoggedIn$ | async)" mat-menu-item
        (click)="router.navigate(['user', 'profile'])">Profile</button>
    </mat-menu>
  </div>
</header>
