@import '../../../assets/styles/main-theme.scss';

#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 125px;
  width: 90%;
  max-width: 600px;
  padding: 10px;
}

#searchForm > mat-form-field {
  flex-grow: 2;
}

#searchForm button {
  margin-left: 10px;
}
